[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
pyyaml = "*"
python-dotenv = "*"
sqlalchemy = "*"
pyodbc = "*"
openpyxl = "*"

[dev-packages]

[requires]
python_version = "3.11"
